<footer class="page-footer blue-grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">
          Language Journal
        </h5>
        <p class="grey-text text-lighten-4">
          Improve your language acquisition through writing.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">
          Links
        </h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="/journals">
              Public Journals
            </a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="index/about">
                About
            </a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">
              Public Policy
            </a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">
              Terms and Conditions
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Language Journal
      <a class="grey-text text-lighten-4 right" href="#!">
        More Links
      </a>
    </div>
  </div>
</footer>