<nav class="red accent-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">
        Language Journals
      </a>
      <a href="#" data-target="main-menu" class="sidenav-trigger show-on-large">
        <i class="fa fa-bars"></i>
      </a>
      <!-- RIGHT NAV -->
      <ul class="right hide-on-small-only">
        {{#if user}}
          <li>
            <a href="/dashboard">
              Welcome
              {{user.firstName}}
            </a>
          </li>
          <li>
            <a href="/auth/logout">
              <i class="fa fa-sign-out">
                Logout
              </i>
            </a>
          </li>
        {{else}}
          <a href="/journals">
            <i class="fa fa-book">
              Public Journals
            </i>
          </a>
        {{/if}}
      </ul>
      <!-- SIDE MENU -->
      <ul id="main-menu" class="sidenav">
        {{#if user}}

        {{else}}
          <li>
            <a href="/auth/google" class="red accent-3 btn">
              <i class="fa fa-google left"></i>
              Login With Google
            </a>
          </li>
        {{/if}}
        <li>
          <a href="/index">
            <i class="fa fa-book"></i>
            Public Journals
          </a>
        </li>
        <li class="divider"></li>
        {{#if user}}
        <li>
          <a href="/dashboard">
            <i class="fa fa-cog"></i>
            Dashboard
          </a>
        </li>
        <li>
          <a href="/journals/my">
            <i class="fa fa-user"></i>
            My Journals
          </a>
        </li>
        <li>
          <a href="/auth/logout">
            <i class="fa fa-sign-out"></i>
            Logout
          </a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>