<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Language Journal</title>
        <!-- Compiled and minified CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>

        {{> _header}}
        {{#if user}}
            {{> _add-btn}}
        {{/if}}
        <main>
            <div class="container">
                {{{body}}}
            </div>
        </main>
        {{> _footer}}
        
    
    <script  src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
    <script>
        $(document).ready(() => {
            $('.sidenav').sidenav();
            $('select').formSelect();
            $('input.autocomplete').autocomplete({
                data: {
                    "Albanian": null,
                    "Arabic": null,
                    "Bengali": null,
                    "Chinese": null,
                    "English": null,
                    "French": null,
                    "German": null,
                    "Hindi": null,
                    "Italian": null,
                    "Japanese": null,
                    "Korean": null,
                    "Portuguese": null,
                    "Punjabi": null,
                    "Russian": null,
                    "Spanish": null,
                    "Urdu": null
                },
            });
        });

        CKEDITOR.replace('body', {
            plugins: 'wysiwygarea, toolbar, basicstyles, link, image'
        });
    </script>
    </body>
</html>